<!-- templates/cancel_payment.html -->
{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Cancelled</title>
</head>
<body>
    <h1>Payment Cancelled</h1>
    <p>Your payment was cancelled. If you have any questions, please contact support.</p>
    
    <a href="{% url "checkout"  %}" type="button" class="btn btn-info">Pay Now</a>
</body>
</html>
{% endblock content %}
