<h2 style="margin-bottom: 20px;">Order Confirmation</h2>

<p>Dear {{ customer_name }},</p>

<p>We are delighted to inform you that your transaction has been successfully completed.</p>

<h3 style="margin-bottom: 10px;">Order Summary:</h3>
<ul>
    <li><strong>Total Amount:</strong> Rs.{{ total_price }}</li>
    <li><strong>Items Purchased:</strong> {{ order_details }}</li>
</ul>
<p>Your order will be delivered within the next 2 days.</p>

<p>Thank you for shopping with us!</p>
<p>Best regards,</p>
<p><strong>Promena</strong></p>
<p>Customer Support: <a href="mailto:support@company.com">support@company.com</a></p>
<p>Phone: +91 919919191</p>

