{% extends "base.html" %}

{% block content %}
<form action="{% url "Reset_password" %}" method="POST">
    {% csrf_token %}
    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="d-flex justify-content-center mt-4">
        <div class="card shadow" style="width: 40rem;">
            <h1 class="text-center">Reset password Page</h1>
            <div class="card-body p-4">
                {{ form.as_p }}  
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Reset</button>
                    
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock content %}
